<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Tienda de Ropa</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
            <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
            <script th:src="@{/js/rutinas.js}"></script>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>        
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                <div class="container-fluid">
                    <a th:href="@{/}" class="navbar-brand">[[#{aplicacion.titulo}]]</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/nosotros/listado}">[[#{plantilla.nosotros}]]</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/contacto/listado}">[[#{plantilla.contacto}]]</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/faq/listado}">[[#{plantilla.faq}]]</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/categoria/listado}">[[#{plantilla.categorias}]]</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/producto/listado}">[[#{plantilla.productos}]]</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/factura/listado}">[[#{plantilla.factura}]]</a>
                            </li>
                        </ul>
                        <form class="d-flex me-3" th:action="@{/producto/buscar}" method="get">
                            <input class="form-control me-2" type="search" name="query" placeholder="Buscar" aria-label="Buscar">
                                <button class="btn btn-outline-light" type="submit">[[#{plantilla.buscar}]]</button>
                        </form>

                        <div class="d-flex align-items-center">
                            <a th:href="@{/carrito/listado}" class="btn btn-outline-light me-3">
                                <i class="bi bi-cart"></i> [[#{plantilla.carrito}]]
                            </a>                            
                            <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/login}">
                                        <i class="fas fa-sign-in-alt"></i>
                                    </a>
                                </li>
                            </ul>

                            <!-- Bloque para usuarios autenticados -->
                            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                                <li class="nav-item text-white my-auto">
                                    <img th:src="@{${session.usuarioImagen}}"
                                         alt="Imagen del usuario"
                                         height="40"
                                         class="rounded-circle"/>
                                    <span th:text="${session.usuarioNombre}"></span>
                                </li>
                                <li class="nav-item my-auto">
                                    <form method="post" th:action="@{/logout}">
                                        <button class="btn btn-dark">
                                            <i class="fas fa-sign-out-alt"></i>
                                        </button>
                                    </form>
                                </li>
                            </ul>


                        </div>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item px-2">
                            <a class="nav-link" th:href="@{/(lang=es)}">ES</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" th:href="@{/(lang=en)}">EN</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

        <footer th:fragment="footer" class="bg-dark text-white mt-5 p-2">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">&COPY [[#{plantilla.derechos}]]</p>
                </div>
            </div>
        </footer>


    </body>