<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tienda de Ropa</title>
    </head>
    <body>

        <section th:fragment="sobreNosotros" class="about-us py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>[[#{nosotros.titulo}]]</h2>
                        <p>[[#{nosotros.descripcionA}]]</p>
                        <p>[[#{nosotros.descripcionB}]]</p>
                    </div>
                    <div class="col-md-6">
                        <img src="https://cdn-icons-gif.flaticon.com/10606/10606571.gif" alt="Imagen de una tienda" class="w-50 img-fluid"/>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="resenas" class="reviews py-5 bg-light">
            <div class="container">
                <h2 class="text-center mb-4">[[#{nosotros.reseñasTitulo}]]</h2>
                <div class="row">
                    <div class="col-md-8 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">[[#{nosotros.dejarReseña}]]</h5>
                                <form>
                                    <div class="mb-3">
                                        <label for="reviewName" class="form-label">[[#{usuario.nombre}]]</label>
                                        <input type="text" class="form-control" id="reviewName" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="reviewText" class="form-label">[[#{nosotros.escribirReseña}]]</label>
                                        <textarea class="form-control" id="reviewText" rows="3" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-custom-warning">[[#{nosotros.enviarReseña}]]</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">[[#{nosotros.listaReseñas}]]</h5>
                                <hr>
                                    <p class="card-text">"La calidad de las prendas es excelente y el servicio al cliente es inigualable."</p>
                                    <p class="card-text"><small class="text-muted">- Cliente satisfecho</small></p>
                                    <hr>
                                        <p class="card-text">"Una experiencia de compra muy buena. Definitivamente volveré."</p>
                                        <p class="card-text"><small class="text-muted">- Otro cliente satisfecho</small></p>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </section>


                                        </body>
                                        </html>