<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>[[#{tienda.titulo}]]</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <div class="container">
            <h2>[[#{producto.buscarTitulo}]]</h2>
            <form th:action="@{/producto/buscar}" method="GET">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="[[#{producto.buscarPlaceholder}]]" required />
                    <button class="btn btn-dark" type="submit">[[#{producto.buscarBoton}]]</button>
                </div>
            </form>
            <div th:if="${productos != null}">
                <h3>[[#{producto.resultadosTitulo}]]</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>[[#{producto.descripcion}]]</th>
                            <th>[[#{producto.detalle}]]</th>
                            <th>[[#{producto.verImagen}]]</th>
                            <th>[[#{producto.precio}]]</th>
                            <th>[[#{producto.existencias}]]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="producto : ${productos}">
                            <td th:text="${producto.idProducto}"></td>
                            <td th:text="${producto.descripcion}"></td>
                            <td th:text="${producto.detalle}"></td>
                            <td><img th:src="@{${producto.rutaImagen}}" alt="[[#{producto.imagenAlt}]]" class="img-fluid" /></td>
                            <td th:text="${producto.precio}"></td>
                            <td th:text="${producto.existencias}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${productos == null or productos.isEmpty()}">
                <p>[[#{producto.sinResultados}]]</p>
            </div>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"/>      
    </body>
</html>
