<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tienda de Ropa</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        <section class="hero bg-primary text-white text-center py-5">
            <div class="container">
                <h2>[[#{index.saludo}]]</h2>
                <p>[[#{index.descripcion}]]</p>
                <a class="btn btn-warning" th:href="@{/producto/listado}">[[#{index.botonProductos}]]</a>
            </div>
        </section>
        <section class="features py-5">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="feature">
                            <h3>[[#{index.calidad}]]</h3>
                            <p>[[#{index.descripcion.calidad}]]</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="feature">
                            <h3>[[#{index.confianza}]]</h3>
                            <p>[[#{index.descripcion.confianza}]]</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="feature">
                            <h3>[[#{index.soporte}]]</h3>
                            <p>[[#{index.descripcion.soporte}]]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container text-center">
                    <img src="https://cdn-icons-gif.flaticon.com/10606/10606571.gif" alt="Imagen de una tienda"/>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
